<div class="zone-app-component">
  <div class="container">
    <!-- Start Display Question -->
    <div class="question">
      <div class="card">
        <div class="card-body">
          <h5>EX 01: Calculator Area and Perimeter of Circle</h5>
        </div>
      </div>
    </div>
    <!-- End Display Question -->

    <!-- Start Display Cal -->
    <div class="zone-display-cal" *ngIf="isShow">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <p>Perimeter: {{ perimeter }}</p>
            <p>Area: {{ area }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Display Cal -->

    <!-- Start Form Calculator -->
    <div class="zone-calculator">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <label for="radius-input" class="form-label">Radius</label>
            <input
              type="number"
              class="form-control"
              name="radius-input"
              id="radius-input"
              min="1"
              placeholder="Please enter the radius"
              [(ngModel)]="radius"
              (input)="handleAutoCal()"
            >
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" (click)="handleCal()">Calculator</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Form Calculator -->
      <!-- Start Display Question -->
      <div class="question">
        <div class="card">
          <div class="card-body">
            <h5>Ex02: Auto calculate Ex01</h5>
          </div>
        </div>
      </div>

      <!-- Start Display Cal -->
      <div class="zone-display-cal">
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <h4>Automatic calculation</h4>
              <p>Perimeter: {{ auto_perimter }}</p>
              <p>Area: {{ auto_area }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Display Cal -->
  </div>
</div>

